# Model

## Popularity

In [3]:
import pandas as pd

# 2. Similiar Items

- Doc2Vec
- Cosine Similarity

In [14]:
stories = pd.read_csv("data/stories2017score5.csv.gzip", compression='gzip', low_memory=False)

In [15]:
item_matrix = stories[['id','title', 'descendants', 'score']].copy()

In [18]:
item_matrix.head()

,id,title,descendants,score
0,15719098,Meet the Tesla Semitruck,0.0,5
1,14379186,Raising Rebel Girls,0.0,5
2,14678802,Woman accidentally kills her boyfriend in atte...,0.0,5
3,15658508,Coinbase is Down,0.0,5
4,15898391,Was Donald Trump a Robot?,0.0,5

In [17]:
# Fill NaNs with 0
item_matrix.fillna(0, inplace=True)

In [23]:
#! pip install spacy

In [26]:
#! python -m spacy download en

In [25]:
# Lets use spact
import spacy
nlp = spacy.load('en')

In [46]:
title0 = nlp(item_matrix.title[0])
title1 = nlp(item_matrix.title[1])

In [48]:
title0, title1

(Meet the Tesla Semitruck, Raising Rebel Girls)

In [50]:
len(title0.vector), len(title1.vector)

(384, 384)

In [42]:
?nlp

## 3. Market Basket

# 4. Collaborative Filtering

# 5. Personalisation