# Transform (Feature Creation)

Lets create the user-item matrix

# User-Item Matrix

In [1]:
import pandas as pd

In [18]:
comments = pd.read_csv("data/bycomments2017score5.csv.gz", compression="gzip", low_memory=True)

In [38]:
comments['value'] = 1

In [39]:
comments.head()

       by    parent  value
13153  05  15878548      1
13154  0a  13850516      1
13155  1k  15783427      1
13156  1k  14602595      1
13157  21  14192353      1

In [22]:
# Lets drop NAs from this comments
comments.dropna(inplace = True)

In [23]:
comments.shape

(436347, 2)

In [ ]:
pd.pivot_table(comments, values = "value", index="by", columns="parent", aggfunc="count")

In [34]:
?pd.pivot_table

In [5]:
user_itemss = comments.pivot(index="by", columns ="parent", values=cumcount)

In [7]:
users_items.tail()

                     by    parent
450879  wowthatseuffing  14616440
450880  wtflmaohnisdumb  15443326
450881  ycmbntrthrwaway  13566822
450882  yetanotherwayne  14802154
450883  zaogaothrowaway  14573959

In [8]:
users_items.isnull().sum()

by        14537
parent        0
dtype: int64

In [15]:
users_items.to_csv('data/bycomments2017score5.csv', index=False)